/* 全局通用的样式 */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* 路由缩放动画 */
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}